.block_comment{
    margin-bottom: 15px;
}

.item_comment{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid #111;
    max-width: 900px;
    padding: 20px 30px;
}

.dataMovie{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2px 0 2px 0;
}

.name_user{
    margin: 0;
    font-size: 18px;

}

.commentTxt{
    margin-bottom: 5px;

}

.add_txt_comment{
    border-radius: 19px;
    border: 2px solid #000;
    padding: 18px 15px;
    display: block;
    outline: none;
    width: 800px;
    background-color: #555;
    color: #fff;
}

.add_comment{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-weight: 600;
    margin: 15px 0;
}