.intro{
    margin-top: 40px;
}

.title_main{
    font-size: 58px;
    color: #fff;
    font-weight: 800;
    line-height: 30px;
    text-shadow: 4px 3px 0 #5d08ab, 9px 8px 0
    rgba(21, 21, 21, 0.4);
    letter-spacing: 2px;


}

.title_main.lite{
    color: #2a2a2a;
    text-shadow: 3px 2px 0 #ffffff, 8px 7px 0 rgba(87, 6, 180, 0.2);
}

.block_item-movie{
    margin-top: 50px;
}

.menu_movie{
    display: flex;
    justify-content: space-between;

    list-style: none;
    padding-left: 0;

}

.block_item-movie-reiting{
    max-width: 400px;
    width: 100%;
    margin-bottom: 40px;
}



/* containers__inem-movie*/

.containers__inem-movie{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.movie_item{
    margin: 0 15px 40px 0;
    max-width: 187px;
    width: 100%;

}

.movie_item-img{


    display: block;
}

.movie__item-link{
    color: #9453ef;
    display: block;
    text-decoration: none;
    border: 3px solid #333;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(44, 44, 44, 0.5);
    min-height: 350px;
    transition: .3s;
}

.movie__item-link.lite{
    background-color:#391c5c;
}

.movie__item-link.lite h3 {
    color: #fff;
}

.movie__item-link:hover{
    transform: scale(1.111);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.movie__year{
    display: inline-block;
    margin: 0;
}

.movie__genre{
    margin: 0;
}

.block_item-describe-movie{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;

}

.movie__item-name{
    margin: 6px 0;
}

.li_pages{
    margin: 5px;
    list-style: none;
    padding-left: 0;
    font-size: 17px;
    font-weight: 500;
    color: #d7d7d7;
    cursor: pointer;

}

.li_pages.lite{
    color: #111;
}
